#Ignorar archivos temporales de iMac
._*

# Ignorar archivos de copia de seguridad.
*~
.vscode/*

# Ignorar archivos de log.
*.log

# Ignorar archivos de los contenedores Docker.
data/
mail/
log/
redmine/